<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.signup"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="com.samsung.accessory.permission.ACCESSORY_FRAMEWORK" />
    <uses-permission android:name="com.samsung.wmanager.APP" />
    <uses-permission android:name="com.samsung.wmanager.ENABLE_NOTIFICATION" />
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />
    <uses-permission android:name="com.samsung.WATCH_APP_TYPE.Integrated" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    "

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service android:name="com.example.exercise_motivator.HelloAccessoryProviderService" >
            <intent-filter>
                <action android:name="com.samsung.android.example.helloaccessoryprovider.service" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <receiver android:name="com.samsung.android.sdk.accessory.ServiceConnectionIndicationBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.accessory.service.action.ACCESSORY_SERVICE_CONNECTION_IND" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.samsung.android.sdk.accessory.RegisterUponInstallReceiver" >
            <intent-filter>
                <action android:name="android.accessory.device.action.REGISTER_AFTER_INSTALL" />
            </intent-filter>
        </receiver>
     <!--    <receiver android:name="com.example.exercise_motivator.CalorieActivity$CaloriesBR" >
            <intent-filter>
                <action android:name="CALORIE" />
            </intent-filter>
            <intent-filter>
                <action android:name="ID" />
            </intent-filter>
        </receiver> -->

        <activity
            android:name="com.example.exercise_motivator.SignUpActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.example.exercise_motivator.LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/APP_ID" />

        <activity
            android:name="com.example.exercise_motivator.CalorieActivity"
            android:label="@string/title_activity_calorie" >
        </activity>

        <meta-data
            android:name="AccessoryServicesLocation"
            android:value="/res/xml/accessoryservices.xml" />
        <meta-data
            android:name="GearAppType"
            android:value="wgt" />
    </application>

</manifest>